mat-card {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-grid-list {
  flex-grow: 1;
}

.fab-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
